<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Logout</a>
        </div>
        <div class="pull-left">
            <a href="#"><img src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container">
        <div class="row">
            <div class="col-sm-12">
                <div style="background-color:rgba(255,255,255,0.8); border:groove; border-bottom:none; border-top:none;"><a href="#!/user/{{model.uid}}"><img src="static/source_image/back.png" style="height: 60px;"></img></a></div>
                <div class="battle-container">
                    <div class="col-sm-4">
                        <div class="player1-battle-info-container">
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.userBattleTeam[0].poke_id}}.png">
                            </div>
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.userBattleTeam[0].hp}}</p>
                                    <p>Attack: {{model.userBattleTeam[0].attack}}</p>
                                    <p>Defense: {{model.userBattleTeam[0].defense}}</p>
                                    <p>sp_Attack: {{model.userBattleTeam[0].sp_attack}}</p>
                                    <p>sp_Defense: {{model.userBattleTeam[0].sp_defense}}</p>
                                    <p>Speed: {{model.userBattleTeam[0].speed}}</p>
                                    <progress id="u_health1" value={{model.battleRecord1[0]}} max={{model.userBattleTeam[0].hp}}></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="battle-log-container"; style="overflow-y: scroll;">
                            <ul class="list-group">
                                <li ng-repeat="log1 in model.log1 track by $index" class="list-group-item">
                                    <p>{{log1}}</p>
                                </li>
                            </ul>
                            <!--<p>{{model.log1}}</p>-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="player2-battle-info-container">
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.randomBattleTeam[0].hp}}</p>
                                    <p>Attack: {{model.randomBattleTeam[0].attack}}</p>
                                    <p>Defense: {{model.randomBattleTeam[0].defense}}</p>
                                    <p>sp_Attack: {{model.randomBattleTeam[0].sp_attack}}</p>
                                    <p>sp_Defense: {{model.randomBattleTeam[0].sp_defense}}</p>
                                    <p>Speed: {{model.randomBattleTeam[0].speed}}</p>
                                    <progress id="c_health1" value={{model.battleRecord1[6]}} max={{model.randomBattleTeam[0].hp}}></progress>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.randomBattleTeam[0].poke_id}}.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="battle-container">
                    <div class="col-sm-4">
                        <div class="player1-battle-info-container">
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.userBattleTeam[1].poke_id}}.png">
                            </div>
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.userBattleTeam[1].hp}}</p>
                                    <p>Attack: {{model.userBattleTeam[1].attack}}</p>
                                    <p>Defense: {{model.userBattleTeam[1].defense}}</p>
                                    <p>sp_Attack: {{model.userBattleTeam[1].sp_attack}}</p>
                                    <p>sp_Defense: {{model.userBattleTeam[1].sp_defense}}</p>
                                    <p>Speed: {{model.userBattleTeam[1].speed}}</p>
                                    <progress id="u_health2" value={{model.battleRecord2[0]}} max={{model.userBattleTeam[1].hp}}></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="battle-log-container"; style="overflow-y: scroll;">
                            <ul class="list-group">
                                <li ng-repeat="log2 in model.log2 track by $index" class="list-group-item">
                                    <p>{{log2}}</p>
                                </li>
                            </ul>
                            <!--<p>{{model.log2}}</p>-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="player2-battle-info-container">
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.randomBattleTeam[1].hp}}</p>
                                    <p>Attack: {{model.randomBattleTeam[1].attack}}</p>
                                    <p>Defense: {{model.randomBattleTeam[1].defense}}</p>
                                    <p>sp_Attack: {{model.randomBattleTeam[1].sp_attack}}</p>
                                    <p>sp_Defense: {{model.randomBattleTeam[1].sp_defense}}</p>
                                    <p>Speed: {{model.randomBattleTeam[1].speed}}</p>
                                    <progress id="c_health2" value={{model.battleRecord2[6]}} max={{model.randomBattleTeam[1].hp}}></progress>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.randomBattleTeam[1].poke_id}}.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="battle-container">
                    <div class="col-sm-4">
                        <div class="player1-battle-info-container">
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.userBattleTeam[2].poke_id}}.png">
                            </div>
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.userBattleTeam[2].hp}}</p>
                                    <p>Attack: {{model.userBattleTeam[2].attack}}</p>
                                    <p>Defense: {{model.userBattleTeam[2].defense}}</p>
                                    <p>sp_Attack: {{model.userBattleTeam[2].sp_attack}}</p>
                                    <p>sp_Defense: {{model.userBattleTeam[2].sp_defense}}</p>
                                    <p>Speed: {{model.userBattleTeam[2].speed}}</p>
                                    <progress id="u_health3" value={{model.battleRecord3[0]}} max={{model.userBattleTeam[2].hp}}></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="battle-log-container"; style="overflow-y: scroll;">
                            <ul class="list-group">
                                <li ng-repeat="log3 in model.log3 track by $index" class="list-group-item">
                                    <p>{{log3}}</p>
                                </li>
                            </ul>
                            <!--<p>{{model.log3}}</p>-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="player2-battle-info-container">
                            <div class="col-sm-7">
                                <div class="status-container">
                                    <p>HP: {{model.randomBattleTeam[2].hp}}</p>
                                    <p>Attack: {{model.randomBattleTeam[2].attack}}</p>
                                    <p>Defense: {{model.randomBattleTeam[2].defense}}</p>
                                    <p>sp_Attack: {{model.randomBattleTeam[2].sp_attack}}</p>
                                    <p>sp_Defense: {{model.randomBattleTeam[2].sp_defense}}</p>
                                    <p>Speed: {{model.randomBattleTeam[2].speed}}</p>
                                    <progress id="c_health3" value={{model.battleRecord3[6]}} max={{model.randomBattleTeam[2].hp}}></progress>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <img class="resize-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other-sprites/official-artwork/{{model.randomBattleTeam[2].poke_id}}.png">
                            </div>
                        </div>
                    </div>
                </div>
            <!-- <div class="col-sm-4">]
                <div class="battle-log-container">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="battle-team-container">
                </div>
            </div> -->
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#" class="navbar-right"><img src="static/source_image/pokelabel.png" class="bottom-logo"></img></a>
        </div>
    </div>
</nav>
