<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Login</a>
            <a href="https://github.com/ethancwb/cs3200_Final_Project" class="btn btn-info login-btn" style="right: 200px;">Our Github</a>
            <a href="#!/resources" class="btn btn-info login-btn" style="right: 400px;">Resources</a>
        </div>
        <div class="pull-left">
            <a href="#"><img ng-src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container">
        <div class="row">
            <div class="col-sm-12">
                <img src="static/source_image/login-logo.png" class="login-image"></img>
                <div class="login-page-inner-container">
                    <div ng-show="model.message" class="alert alert-danger">
                        {{model.message}}
                    </div>
                    <input type="text" ng-model="username" class="form-control" placeholder="Username" />
                    <input type="password" ng-model="password" class="form-control" placeholder="Password" />
                    <a ng-click="model.login(username, password)"
                       class="btn btn-primary btn-block">Login</a>
                    <a class="btn btn-primary btn-block" href="#!/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
