<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Login</a>
            <a href="https://github.com/ethancwb/cs3200_Final_Project" class="btn btn-info login-btn" style="right: 200px;">Our Github</a>
            <a href="#!/login" class="btn btn-info login-btn" style="right: 400px;">Resources</a>
        </div>
        <div class="pull-left">
            <a href="#"><img ng-src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-page-inner-container">
                    <div ng-show="model.err" class="alert alert-danger">
                        {{model.err}}
                    </div>
                    <h1 class="register-text">Register :</h1>
                    <label for="username">Username</label>
                    <input type="text"
                           class="form-control"
                           ng-model="username"
                           placeholder="username"/>
                    <label for="password">Password</label>
                    <input type="password"
                           class="form-control"
                           ng-model="password"
                           placeholder="password"/>
                    <label for="rePassword">Verify Password</label>
                    <input type="password"
                           class="form-control"
                           ng-model="rePassword"
                           placeholder="very password"/>
                    <a ng-click="model.register(username, password, rePassword)"
                       class="btn btn-primary btn-block btn-login">Register</a>
                    <a class="btn btn-danger btn-block btn-register"
                       href="#!/login">Cancel</a>
                           <span id="icon_1" class="pkspr pkmn-bulbasaur color-shiny"></span>
                           <script type="text/javascript">
                           PkSpr.decorate('icon_1');
                           </script>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#" class="navbar-right"><img src="static/source_image/pokelabel.png" class="bottom-logo"></img></a>
        </div>
    </div>
</nav>
