<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Login</a>
            <a href="https://github.com/ethancwb/cs3200_Final_Project" class="btn btn-info login-btn" style="right: 200px;">Our Github</a>
            <a href="#!/login" class="btn btn-info login-btn" style="right: 400px;">Resources</a>        </div>
        <div class="pull-left">
            <a href="#"><img ng-src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="content-container list-view-container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Related sources:</h1>
                <h3>Pokemon Sprites: <a href="https://github.com/msikma/pokesprite">https://github.com/msikma/pokesprite</a></h3>
                <h3>Pokemon API Sprites: <a href="https://github.com/PokeAPI/sprites">https://github.com/PokeAPI/sprites</a></h3>
                <h3>Pokemon API Promise-v2: <a href="https://github.com/PokeAPI/pokedex-promise-v2">https://github.com/PokeAPI/pokedex-promise-v2</a><h3>
                <h3>Pokeapi.com: <a href="https://pokeapi.co/">https://pokeapi.co/</a></h3>
                <h3>PokeDex Official site: <a href="http://www.pokemon.com/us/pokedex">http://www.pokemon.com/us/pokedex</a></h3>
                <h3>Bulbapedia: <a href="https://bulbapedia.bulbagarden.net/wiki">https://bulbapedia.bulbagarden.net/wiki</a></h3>
            </div>
        </div>
    </div>
</div>
