<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Logout</a>
        </div>
        <div class="pull-left">
            <a href="#"><img ng-src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <!-- <div class="video-background">
        <div class="video-foreground">
          <iframe src="https://www.youtube.com/embed/ze6zcaemf7M?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=ze6zcaemf7M" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> -->
    <div class="profile-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="profile-inner-container">
                    <h1>Welcome, Pokemon Trainer:</h1>
                    <div class="personal-info-container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <img src="https://pbs.twimg.com/profile_images/2430830680/ku_pokemon_trainer.jpg" class="profile-photo"></img>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                                <ul class="list-group">
                                    <label for="traniner_id">Trainer_id</label>
                                    <input class="list-group-item" value= '{{model.user.user_id}}' id="traniner_id"></input>
                                    <label for="username">Username</label>
                                    <input class="list-group-item" value={{model.user.user_name}} id="username"></input>
                                    <label for="data">Current tier</label>
                                    <input class="list-group-item" value={{model.user.tier}} id="tire"></input>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="option-panel-container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="split-line">Your Collections</div>
                                <div class="collection-container">
                                    <div class="personal-all-collection">
                                        <h3>Your Pokemons:</h3>
                                        <div class="all-collections">
                                            <div class="row">
                                                <div ng-repeat="pokemon in model.userPokemons" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                                    <img ng-src="https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/regular/{{ pokemon.poke_name }}.png">
                                                    <p>{{ pokemon.poke_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-collection">
                                        <h3> Battle Team: </h3>
                                        <div class="team">
                                            <div ng-repeat="pokemon in model.battlePokemons" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                                <img ng-src="https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/regular/{{ pokemon.poke_name }}.png">
                                                <p>{{ pokemon.poke_name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="split-line-1">Options:</div>
                                <div class="options-container">
                                    <a ng-click="model.addNewPokemon()"
                                       class="btn btn-info btn-significant btn-block">Catch New Pokemons!</a>
                                    <a href="#!/user/{{model.uid}}/pokemons" class="btn btn-info btn-significant btn-block">Edit Pokemons!</a>
                                    <a class="btn btn-info btn-significant btn-block">Update Team!</a>
                                    <a class="btn btn-info btn-significant btn-block">Join A Battle!</a>
                                    <!--<a class="btn btn-info btn-block">Create team</a>-->
                                    <!--<a class="btn btn-info btn-block">Delete team</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#" class="navbar-right"><img src="static/source_image/pokelabel.png" class="bottom-logo"></img></a>
        </div>
    </div>
</nav>
