<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/login" class="btn btn-info login-btn">Logout</a>
        </div>
        <div class="pull-left">
            <a href="#"><img ng-src="static/source_image/Pokemon-Fightt.png" class="top-logo"></img></a>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="profile-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="profile-inner-container">
                    <h1>Welcome, Pokemon Trainer</h1>
                    <div class="personal-info-container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <img src="https://pbs.twimg.com/profile_images/2430830680/ku_pokemon_trainer.jpg" class="profile-photo"></img>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                                <ul class="list-group">
                                    <label for="traniner_id">Trainer_id</label>
                                    <input class="list-group-item" value= '{{model.user.user_id}}' id="traniner_id" readonly></input>
                                    <label for="username">Username</label>
                                    <input class="list-group-item" value={{model.user.user_name}} id="username" readonly></input>
                                    <label for="data">Level</label>
                                    <input class="list-group-item" value={{model.user.tier}} id="tire" readonly></input>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="option-panel-container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="split-line">Your Collection</div>
                                <div class="collection-container">
                                    <div class="personal-all-collection">
                                        <h3>Your Pokemons:</h3>
                                        <div class="all-collections">
                                            <div class="row">
                                                <div ng-repeat="pokemon in model.userPokemons" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                                    <a ng-click="model.add2Team(pokemon.user_id, pokemon.owns_id)" class="element-button"><img ng-src="https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/regular/{{ pokemon.poke_name }}.png"></a>
                                                    <p>{{ pokemon.poke_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-collection">
                                        <h3> Battle Team: </h3>
                                        <div class="team">
                                            <div ng-repeat="pokemon in model.battlePokemons" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                                <a ng-click="model.add2Team(pokemon.user_id, pokemon.owns_id)" class="element-button"><img ng-src="https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/regular/{{ pokemon.poke_name }}.png"></a>
                                                <p>{{ pokemon.poke_name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="split-line-1">Options:</div>
                                <div class="options-container">
                                    <a ng-click="model.addNewPokemon()"
                                       class="btn btn-info btn-significant btn-block"
                                       style="background-color: rgb(39, 174, 96); font-size:1.5em;">Catch New Pokemons!</a>
                                       <a href="#!/user/{{model.uid}}/pokemons" class="btn btn-info btn-significant btn-block"
                                       style="background-color: rgb(84, 153, 199); font-size:1.5em;">Check Poke Balls!</a>
                                       <a href="#!/user/{{model.uid}}/battle" class="btn btn-info btn-significant btn-block"
                                       style="background-color: rgb(217, 136, 128); font-size:1.5em;">Join A Battle!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
