.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(208, 211, 212,0.8);
}

.content-container {
    flex: 1;
    font-size: 1em;
    padding: 65px 5% 65px 5%;
    margin: 0 3% 0 3%;
    background-color: rgba(240, 240, 240,0.7);
}

.background-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: none;
    border-top: none;
}

// - - - - - - - - - - - - - - - Video Part - - - - - - - - - - - - - - -

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
